stages:
  - mirror

mirror_to_github:
  stage: mirror
  script:
    - git remote add github https://$GITHUB_USER:$GITHUB_TOKEN@github.com/$GITHUB_USER/script-manager.git
    - git push github --all
    - git push github --tags
  only:
    - main