# Dependencies
node_modules/

# Build outputs
dist/
build/

# Ignore files from .gitignore
extra_scr/
maintenance-core.js
maintenance.css
maintenance-init.js

# Lock files
package-lock.json
yarn.lock
